<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Новое событие</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <form id="event-form" method="POST">
        {% csrf_token %}
        <label for="id_name">Название:</label>
        {{ form.name }}
        <br>
        <label for="id_date_start">Дата начала:</label>
        <input type="date" id="id_date_start" name="date_start">
        <br>
        <br>
        <label for="id_time_start">Время начала:</label>
        <input type="time" id="id_time_start" name="time_start">
        <br>
        <label for="id_date_finish">Дата окончания:</label>
        <input type="date" id="id_date_finish" name="date_finish">
        <br>
        <br>
        <label for="id_time_finish">Время окончания:</label>
        <input type="time" id="id_time_finish" name="time_finish">
        <br>
        <label for="id_color">Color:</label>
        <input type="color" id="id_color" name="color">
        <br>
        <label for="id_periodicity">Периодичность:</label>
        {{ form.periodicity }}
        <br>
        <label for="id_end_date">Конечная дата:</label>
        <input type="date" id="id_end_date" name="end_date">
        <br>
        <label for="id_description">Описание:</label>
        {{ form.description }}
        <br>
        <button type="button" id="generate-description-button" name="description">Добавить описание ИИ</button>
        <br>
        <div id="description_suggestion" style="display:none;">
            <h4>Предложенное описание:</h4>
            <p id="generated-description"></p>
            <button type="button" id="accept-description-button">Согласиться</button>
        </div>
        <br>
        <button type="submit" name="save_button">Добавить</button>

    </form>
    <script>
        $(document).ready(function() {
            $('#generate-description-button').click(function() {
                const eventName = $('#id_name').val();
                if (eventName) {
                    $.ajax({
                        type: 'POST',
                        url: '{% url "generate_description" %}',
                        data: {
                            'name': eventName,
                            'csrfmiddlewaretoken': '{{ csrf_token }}'
                        },
                        success: function(response) {
                            $('#generated-description').text(response.description);
                            $('#description_suggestion').show();
                        },
                        error: function(xhr, status, error) {
                            alert('Ошибка при генерации описания');
                        }
                    });
                } else {
                    alert('Пожалуйста, введите название события.');
                }
            });

            $('#accept-description-button').click(function() {
                const generatedDescription = $('#generated-description').text();
                $('textarea[name="description"]').val(generatedDescription);
            });
        });
    </script>
</body>
</html>
