{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<!--meta-данные-->
	<title> Homepage</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--style-->
	<link rel="stylesheet" href="{% static 'home_page/css/home_style.css' %}">

</head>

<body>
<div class="fo">
		<form action="http://127.0.0.1:8000/">
			<button class="but">Зарегистрироваться</button>
		</form>
		<form action="http://127.0.0.1:8000/login">
			<button class="but">Войти</button>
		</form>
</div>
<div class="block">

<center>
<img align="middle" vspace="60px" src="{% static 'register/img/photo_2024-03-29_21-03-46.jpg' %}" alt="Our pict" width="250px">
</center>

<p style="font-size:32px" align="center"> Transforming chaos into order</p>
<p style="font-size:32px" align="center"> every day, every week, every month</p>
<p style="font-size:36px" align="center"><b> TimeTracer</b></p>
</div>

</body>
</html>
