<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ваш веб-календарь</title>
    <style>
        /* Добавьте здесь стили CSS по вашему усмотрению */
    </style>
</head>
<body>
    <header>
        <h1>Добро пожаловать в веб-календарь!</h1>
    </header>
    <nav>
        <ul>
            <li><a href="#">Главная</a></li>
            <li><a href="#">Месяц</a></li>
            <li><a href="#">Неделя</a></li>
            <li><a href="#">День</a></li>
        </ul>
    </nav>
    <main>
        <h2>Привет {{name}} </h2>
        <p>Сегодня {{date}}</p>
    </main>
    <footer>
        <p>&copy; 2024 Ваш веб-календарь. Все права защищены.</p>
    </footer>
</body>
</html>