<!DOCTYPE html>
<html lang="en">
<head>
	<title> TT</title>
</head>
<body>
<style>
body{
background:url(https://image.architonic.com/img_pro2-4/153/1986/velling-iii-0035300-0475-velling-iii-b.jpg);
background-size: cover;
}
.block{
border-radius:10px;
background-color:#C0C0C0;
width:450px;
margin-left:150px;
margin-top:150px;
height:400px;}
.block_link{
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;}
</style>
<div class="block" onclick="http://127.0.0.1:8000/">
<center>
<img align="middle" vspace="40px" src="C:\Users\Дарья\Downloads\Telegram Desktop\photo_2024-03-29_21-03-46.jpg" alt="Our pict" width="200px">
</center>
<h3 align="center">Transforming chaos into order</h3>
<h3 align="center"> every day, every week, every month</h3>
<h1 align="center"> TimeTrecer</h1>
<a class="block_link" href="http://127.0.0.1:8000/"></a>
</div>
</body>
</html>