<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Event</title>
</head>
<body>
    <h1>Add Event</h1>
    <form method="POST">
        {% csrf_token %}
        <label for="id_name">Name:</label>
        {{ form.name }}
        <br>
        <label for="id_date_start">Start Date:</label>
        <input type="date" id="id_date_start" name="date_start">
        <br>
        <label for="id_date_finish">Finish Date:</label>
        <input type="date" id="id_date_finish" name="date_finish">
        <br>
        <label for="id_description">Description:</label>
        {{ form.description }}
        <br>
        <label for="id_participants">Participants:</label>
        {{ form.participants }}
        <br>
        <button type="submit" name="my_button">Нажми меня</button>  <!-- Перемещаем кнопку внутрь формы -->
        <button type="submit">Add Event</button>
    </form>

    {% for event in events %}
    <div>
        <h3>{{ event.name }}</h3>
        <p><strong>Start Date:</strong> {{ event.date_start }}</p>
        <p><strong>Finish Date:</strong> {{ event.date_finish }}</p>
        <p><strong>Description:</strong> {{ event.description }}</p>
        <p><strong>Participants:</strong>
            {% for participant in event.participants.all %}
                {{ participant.username }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
    </div>
    {% endfor %}
</body>
</html>
