body{
	background-image:url({% static 'register/img/background.png' %});
	background-position: center center
	background-repeat: no-repeat
	background-size: cover;
	}
	height:50px;
	wight:100px;

button{
	.block{
	border-radius:25px;
	background-color:#C0C0C0;
	width:620px;
	margin-left:55px;
	margin-top:165px;
	height:580px;
	}

.fo{
	position:fixed;
	top:20px;
	right:20px;}

.but{
	width:150px;
	height:40px;
	margin-bottom:10px;
	}
}
